/* цвет основного текста (р) color:  #757575;
цвет заголовков и ссылок #212121;
цвет фона бади #FFFFFF
цвет ховера и эффектов #2196F3
цвет футера background: #2F303A;
цвет текста в футере (заголовки - color: #FFFFFF;
цвет имейла и телефона в футере - color: rgba(255, 255, 255, 0.6);
цвет копирайта color: rgba(255, 255, 255, 0.4);
var(--main-bg-color)  #FFFFFF;
 var(--main-txt-color) #757575 ;
 */

:root {
  --main-bg-color: #ffffff;
  --main-txt-color: #757575;
  --h123-link-color: #212121;
  --hover-focus-color: #2196f3;
  --footer-bg-color: #2f303a;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--main-bg-color);
  font-size: 14px;
  background: var(--main-bg-color);
  font-family: Roboto, sans-serif;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

/* main {
  outline: tomato;
} */

img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  display: block;
  cursor: pointer;
  margin: 0;
}

/* Page header */
.logo {
  color: var(--hover-focus-color);
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  width: 153px;
  height: 1.19;
  margin-bottom: 25px;
}
/* main nav */
.header-content {
  display: flex;
}

.main-nav {
  display: flex;
  align-items: center;
}
.studio {
  color: #212121;
}

.contacts {
  display: inline-flex;
  margin-left: auto;
  align-items: center;
}
.break {
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.contact-link {
  display: block;

  color: var(--main-txt-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  list-style: none;
}

.contact-link:hover,
.contact-link:focus {
  color: var(--hover-focus-color);
  font-style: normal;
  /* transition: transform  250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.phone-number {
  display: inline-block;
  width: 10px;
  height: 14px;
  margin-right: 10px;
}

.contact-link:hover .contact-email,
.contact-link:focus .contact-email {
  --color4: var(--hover-focus-color);
  /* transition: transform  250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.contact-email {
  display: inline-block;
  width: 16px;
  height: 11px;
  margin-right: 10px;
  fill: var(--main-txt-color);
}

.contact-link:hover .phone-number,
.contact-link:focus .phone-number {
  --color4: var(--hover-focus-color);
  /* transition: transform  250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.contacts .header-contact + .header-contact {
  margin-left: 50px;
}

.nav-option {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
}

.nav-option:hover,
.nav-option:focus {
  color: var(--h123-link-color);
}

.nav-option::after {
  content: "";

  width: 100%;
  height: 4px;
  background-color: var(--hover-focus-color);
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0;
}

/* .nav-option:hover::after
 {
  opacity: 1;
  transition: opacity  250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--hover-focus-color);
   
}
.nav-option:focus::after {
  opacity: 1;
  background-color: var(--hover-focus-color);
  transition: opacity  250ms cubic-bezier(0.4, 0, 0.2, 1);  
} */

.current {
  color: var(--hover-focus-color);
  position: relative;
}

.current:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  width: 100%;
  height: 4px;
  background: var(--hover-focus-color);
  border-radius: 2px;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a {
  color: var(--h123-link-color);
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
.header-contact {
  display: flex;
}
.nav-option {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-option:hover,
.nav-option:focus {
  color: var(--hover-focus-color);
}

/* display: inline-block;
  border: 1px solid transparent;
  border-radius: 6px;
  padding: 11px 34px;
  min-width: 130px;
  color: var(--title-text-color);
  background-color: var(--primary-white-color);
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  text-decoration: none;
  text-align: center;
} */

/* Page header */

.overlay-image {
  max-width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../img/Headerimg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.section-hero {
  text-align: center;
}
.hero-title {
  margin-bottom: 56px;
  padding-top: 200px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--main-bg-color);
}

.order-button {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 6px;
  width: 200px;
  height: 50px;
  padding: 10px 32px;
  color: var(--main-bg-color);
  background: var(--hover-focus-color);
  font-size: 16px;
  line-height: 1.87;
  font-weight: bold;
}

/* modalka */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  z-index: 9999;
  position: absolute;
  display: inline-flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: #ffffff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* scale(1) */
}
.form {
  margin: 0;
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-8px, 8px);

  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 25px;
  border-style: none;
  background-color: var(--main-bg-color);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  outline: none;
}

.close-button:focus {
  border: 1px solid var(--hover-focus-color);
}

.close-button:focus .close-icon {
  fill: var(--hover-focus-color);
}

.close-icon {
  width: 11px;
  height: 11px;
  fill: var(--h123-link-color);
  background-color: #ffffff;
}

.disclaimer {
  display: block;
  width: 448px;
  text-align: center;
  font-style: normal;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: #212121;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 30px;
}

.form-field {
  margin-bottom: 28px;
  position: relative;
  box-sizing: border-box;
  height: 40px;
  max-width: 448px;
}
.text-field {
  margin-bottom: 20px;
  position: relative;
  box-sizing: border-box;
}
.comment-label {
  position: absolute;
  display: inline-block;
  top: 0px;
  left: 12px;
  margin-bottom: 0;
  font-size: 14px;
  letter-spacing: 0.01em;
  transform: translate(0px, 12px);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--main-txt-color);
}

.icohead {
  position: absolute;
  top: 50%;
  left: 14px;
  transform: translateY(-50%);
  fill: currentColor;
}

.form-label {
  position: absolute;
  display: inline-block;
  top: 0px;
  left: 42px;
  margin-bottom: 0;
  font-size: 14px;
  letter-spacing: 0.01em;
  /* transform-origin: left; */
  transform: translate(0px, 12px);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--main-txt-color);
  /*  */
}

/* .field-name {
  display: flex;
  position: absolute;
  top: 50%;
  left: 18px;
  transform: translateY(-50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);


} */

.field {
  width: 100%;
  margin: 0;
  padding: 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-appearance: none;
  outline-style: none;
  outline: 0px;
  box-sizing: border-box;

  /* display: block;
    width: 448px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 0px;
    padding-left: 42px;
    appearance: none; */
}

.field:focus-within {
  border-color: #2196f3;
}

.field:focus-within + .form-label {
  transform: translate(-21px, -18px);
  color: var(--hover-focus-color);
}

.field:not(:placeholder-shown) + .form-label {
  transform: translate(-21px, -18px);
  color: var(--hover-focus-color);
}

.field:focus-within + .comment-label {
  transform: translateY(-18px);
  color: var(--hover-focus-color);
}
.field:not(:placeholder-shown) + .comment-label {
  transform: translateY(-18px);
  color: var(--hover-focus-color);
}

.field:focus-within ~ .icohead {
  fill: var(--hover-focus-color);
}

.comment {
  left: 0px;
  resize: none;
}
.comment:focus-within {
  border-color: #2196f3;
}

.form-agreement {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  text-align: center;
}
.form-agreement label {
  display: flex;
  align-items: center;
  cursor: pointer;
  flex-wrap: nowrap;
  width: 400px;
}
.iagree {
  display: flex;
  flex-wrap: nowrap;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-txt-color);
  font-size: 14px;
  font-style: normal;
}
.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-icon {
  margin-right: 7px;
  border: 2px solid var(--h123-link-color);
  border-radius: 2px;
  fill: transparent;
  cursor: pointer;
  /* background-size: contain; */
  /* transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.checkbox:checked + .checkbox-icon {
  background-origin: border-box;
  background-color: var(--hover-focus-color);
  border-color: transparent;
  background-image: url(../img/iconcheck.svg);
  background-size: contain;

  border: none;
}

.terms-link {
  color: var(--hover-focus-color);
  text-decoration: underline;
}

.send-form {
  width: 200px;
  height: 50px;
  padding: 10px 55px;
  margin-left: auto;
  margin-right: auto;
  color: var(--main-bg-color);
  background-color: var(--hover-focus-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-style: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  outline-style: none;
}

.send-form:hover {
  cursor: pointer;
}

/* modalka end*/

.central-title {
  font-size: 36px;
  align-content: center;
  text-align: center;
  margin-bottom: 50px;
}

.section-team {
  background: #f5f4fa;
  padding-left: auto;
  padding-right: auto;
}

p {
  color: var(--main-txt-color);
  font-size: 14px;
  line-height: 1.71;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-nav {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  list-style: none;
  display: flex;
  margin-left: 86px;
}
.item-nav {
  margin-right: 50px;
}

.item-nav:last-child {
  margin-right: 0;
}

.list-images {
  display: flex;
  flex-wrap: nowrap;
  text-decoration: none;
  list-style: none;
  justify-content: center;
}

.item-image {
  width: calc((100% - 90px) / 4);
  display: block;
  box-sizing: border-box;
  margin: 0;
  margin-right: 30px;
  text-align: center;
  justify-content: center;
}

.item-image:last-child {
  margin-right: 0;
}

.plus {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.advantage-icon:hover {
  --color2: #2196f3;
  --color3: #2196f3;
  cursor: pointer;
}

.section-title {
  text-align: left;
  margin-bottom: 10px;
}

.text-section {
  text-align: left;
}

.list-work {
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  justify-content: center;
}

.work-item {
  position: relative;
  margin-right: 30px;
  width: calc((100% - 60px) / 3);
  display: block;
}

.work-item:last-child {
  margin-right: 0;
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

.team-list {
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  justify-content: center;
}
.list {
  list-style: none;
}

.member {
  display: block;
  width: calc((100% - 90px) / 3);
  margin-right: 30px;
  background-color: var(--main-bg-color);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.member .member-name {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.member p {
  text-align: center;
  margin-bottom: 16px;
  font-size: 16px;
}

.member:last-child {
  margin-right: 0;
}

.social-list {
  display: flex;
  list-style: none;
  justify-content: center;
  margin-bottom: 24px;
}

.social-list:last-child {
  margin-right: 0px;
}

.social-list .social-item:not(:last-child) {
  margin-right: 10px;
}
/* .social-item:hover
{fill: var(--main-bg-color);
  
 
}
.social-item:focus 
{ fill: var(--main-bg-color);
  background-color: var(--hover-focus-color);
  border-radius: 44px;
  
  
} */

/* .social-item {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
} */

.client-list {
  display: flex;
  list-style: none;
  justify-content: center;
}

.client-item {
  margin-right: 30px;
  width: calc((100% - 150px) / 6);
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.client-item:last-child {
  margin-right: 0px;
}
h1,
h2,
h3 {
  color: var(--h123-link-color);
  margin: 0;
  padding: 0;
}

.section-portfolio {
  padding-top: 100px;
}

.overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-item:focus .content-text,
.portfolio-item:hover .content-text {
  transform: translateY(0%);
}

.content-text {
  position: absolute;
  display: flex;
  top: 0px;
  left: 0px;
  min-width: 100%;
  height: 100%;

  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  color: var(--main-bg-color);
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 24px 63px 24px;
  margin: 0px;

  font-size: 18px;
  line-height: 1.6;
}

.block {
  border: 1px solid #eeeeee;
  /* border-radius: 0px 0px 5px 5px; */

  padding: 24px 20px;
}

.filter-button:hover,
.filter-button:focus {
  font-family: Roboto;
  background-color: var(--hover-focus-color);
  /* transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.filter-item {
  margin-right: 8px;
}

.filter-button {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  background: #f5f4fa;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-button:hover,
.filter-button:focus {
  color: var(--main-bg-color);
  background-color: var(--hover-focus-color);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address {
  display: block;
  color: var(--main-bg-color);
  font-size: 14px;
  font-style: normal;
  margin-bottom: 9px;
}

.tel-email {
  display: block;
  color: rgba(255, 255, 255, 0.4);
  text-decoration: none;
  font-style: normal;
  margin-bottom: 9px;
}

.join {
  display: block;
  color: var(--main-bg-color);
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 21px;
}
.footer-subscribe {
  margin-top: 57px;
}
.footer-subscribe .button-join {
  background: var(--hover-focus-color);
  color: var(--main-bg-color);
  font-weight: 900;
  line-height: 1.8;
  font-size: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 62px 10px 29px;
  border: 1px solid transparent;
  display: inline-block;
}

.join svg {
  margin-left: 10px;
}

.portfolio:hover,
.portfolio:focus,
.portfolio:active {
  color: var(--hover-focus-color);
  text-decoration: underline;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.products-white {
  color: var(--main-bg-color);
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  background: rgba(47, 48, 58, 0.8);
  border-radius: 0px 0px 4px 4px;
  height: 70px;
  line-height: 1.1;
  padding-bottom: 27px;
  padding-top: 27px;

  margin: 0px;
  position: absolute;
  bottom: 0%;
  left: 0%;
  display: block;
  text-align: center;
  white-space: nowrap;
  width: 370px;
}

/* portfolio */

.list-buttons {
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-bottom: 50px;
}
.list-portfolio {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
}

.blue-text:hover {
  background-color: var(--hover-focus-color);
  line-height: 1.55;
}

/*margin 30px */

.blue-text {
  margin: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item {
  width: calc((100% - 60px) / 3);

  display: block;
  box-sizing: border-box;

  margin-right: 30px;
  margin-bottom: 30px;
  align-content: center;

  overflow: hidden;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:nth-child(3n) {
  margin-right: 0;
}

.image-portfolio {
  display: block;
  width: 370px;
  height: 294px;
  box-sizing: border-box;
}

.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.portfolio-heading {
  margin-bottom: 4px;
  font-size: 18px;
  letter-spacing: 0.06em;
  line-height: 2;
  font-style: normal;
  white-space: nowrap;
}

.portfolio-item:hover {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.port-text {
  font-size: 16px;
  line-height: 30px;

  letter-spacing: 0.03em;
}

/* Footer */
footer {
  background-color: var(--footer-bg-color);
}

.footer-content {
  display: flex;
  justify-content: space-around;

  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  align-items: baseline;
}
.logo-link {
  margin-bottom: 8px;
}

.logo-address {
  margin-top: 45px;
  margin-bottom: 28px;
}
.logo-footer {
  display: block;
  color: var(--primary-white-color);
  margin-top: 56px;
}
.studio-footer {
  color: var(--hover-focus-color);
}

.studio-white {
  color: var(--main-bg-color);
}
.copyright {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.4);
  border-top-width: 3px;
  margin-bottom: 0;
  padding-bottom: 21px;
}

.join-form {
  display: flex;
}

.submit {
  background-color: var(--hover-focus-color);
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.submit::after {
  display: inline-block;
  content: "";
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../img/phone.svg);
}

.email-footer {
  background-color: var(--footer-bg-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-weight: 400;
  text-align: left;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-right: 12px;
  padding: 12px 18px;
  display: block;
  width: 358px;
}

.footer-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-social {
  margin-top: 56px;
}

.footer-svg {
  --color5: #ffffff;
}

.line {
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 18px;
}

.footer-item:hover,
.footer-item:focus {
  background-color: var(--hover-focus-color);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list .footer-item:not(:last-child) {
  margin-right: 10px;
}
/* .social-networks {
  fill: #FFFFFF;} */

.social-option {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  fill: var(--main-bg-color);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-option:hover {
  color: var(--main-bg-color);
  border-radius: 50%;
  background-color: var(--hover-focus-color);
}

.social-option:focus {
  color: var(--main-bg-color);
  border-radius: 50%;
  background-color: var(--hover-focus-color);
}

.social-option .icon-social {
  --color5: #afb1b8;
}

.social-option:hover .icon-social {
  --color5: #ffffff;
}

.social-option:focus .icon-social {
  --color5: #ffffff;
}

.company-logo {
  --color5: #afb1b8;
}
.logo-first:hover .company-logo {
  --color5: var(--hover-focus-color);
  cursor: pointer;
}

.logo-first:focus .company-logo {
  --color5: var(--hover-focus-color);
  cursor: pointer;
}

.client-item:hover {
  border: 1px solid var(--hover-focus-color);
  border-radius: 4px;
}

.client-item:focus {
  border: 1px solid var(--hover-focus-color);
  border-radius: 4px;
}

.logo-first {
  min-width: 170px;
  height: 90px;
  fill: #afb1b8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* .client-list. .logo-first:hover  {
 
 border: 1px solid  var(--hover-focus-color);
 --color5 : var(--hover-focus-color);
}
.client-item svg {
  fill: var(--hover-focus-color);
} */

/* .logo-second {
  width: 170px;
  height: 90px;
}
.logo-third{
  width: 170px;
  height: 90px;
}
.logo-fourth {
  width: 170px;
  height: 90px;
}
.logo-fifth {
  width: 170px;
  height: 90px;
}
.logo-six {
  width: 170px;
  height: 90px;
} */
