// $basic-font: Roboto, sans-serif;
// $logo-font: Raleway, sans-serif;

// $bg-color: #ffffff;
// $text-color: #757575;
// $headerlink-color: #212121;
// $accent-color: #2196f3;
// $footerbg_color: #2f303a;

.logo {
  display: block;
  color: $accent-color;
  font-family: $logo-font, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.19;
  margin-bottom: 25px;

  @media screen and (min-width: 480px) {
    margin-bottom: 16px;
    margin-top: 16px;
  }

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 26px;
    margin-top: 26px;
    margin-left: 15px;
  }
}

.studio {
  color: $headerlink-color;
}

// footer

.logo-address {
  margin-top: 45px;
  margin-bottom: 28px;
}

.logo-link {
  margin-bottom: 8px;
}

.studio-white {
  color: $bg-color;
}
