.menu-button {
  display: inline-flex;

  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  outline: none;

  @media screen and (max-width: 767px) {
    position: absolute;
    top: 0;
    right: 0;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-button:hover.icon-menu {
  fill: $accent-color;
}

.for-burger {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (min-width: 480px) and (max-width: 767px) {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
  }
}

.menu-container {
  background-color: $bg-color;
  text-align: center;
  font-size: 20px;

  &.is-open {
    display: block;
  }

  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 99999999;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
  }
}
