.backDrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms $cubic;
  overflow-y: scroll;
  &--hidden {
    opacity: 0;
    pointer-events: none;
  }
  @media screen and (max-width: 767px) {
    padding-top: 94px;
    padding-right: 15px;
    padding-bottom: 94px;
    padding-left: 15px;
  }
}
.request {
  transform: scale(1);
  transition: transform 250ms $cubic;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 30px);
  min-height: 609px;
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  background-color: $bg-color;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  .backDrop .is-hidden & {
    transform: scale(1.1);
    @media screen and (min-width: $tablet) {
      transform: translate(-50%, -50%) scale(1.1);
    }
  }
  @media screen and (max-width: 767px) {
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: $tablet) {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 450px;
    min-height: 609px;
  }
  @media screen and (min-width: $desktop) {
    top: 50%;
    min-width: 528px;
    min-height: 581px;
  }
}
.request__title {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  @media screen and (min-width: $desktop) {
    line-height: 1.15;
  }
}
.request__field {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 28px;
}
.request__input {
  margin: 0;
  padding-top: 12px;
  padding-right: 45px;
  padding-bottom: 12px;
  padding-left: 45px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline-style: none;
}
.request__label {
  position: absolute;
  top: 50%;
  left: 45px;
  transform: translateY(-50%);
  transition: transform 250ms $cubic, color 250ms $cubic, font-size 250ms $cubic,
    line-height 250ms $cubic;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: $text-color;
  .request__field:focus-within > &,
  .request__input:not(:placeholder-shown) + & {
    transform: translateY(-40px) translateX(-25px);
    font-size: 12px;
    line-height: 1.17;
  }
  .request__field:focus-within > & {
    color: $accent-color;
  }
}
.request__icon {
  position: absolute;
  top: 50%;
  left: 19px;

  transform: translateY(-50%);
  fill: $headerlink-color;
  transition: fill 250ms $cubic;
  .request__field:focus-within > & {
    fill: $accent-color;
  }
}
.request__textarea {
  width: 100%;
  height: 120px;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline-style: none;
}
.request__textareaField {
  position: relative;
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}
.request__textareaLabel {
  position: absolute;
  top: 12px;
  left: 16px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: $text-color;
  transition: transform 250ms $cubic, color 250ms $cubic, font-size 250ms $cubic,
    line-height 250ms $cubic;
  .request__textareaField:focus-within > &,
  .request__textarea:not(:placeholder-shown) + & {
    transform: translateY(-30px) translateX(5px);
    font-size: 12px;
    line-height: 1.17;
  }
  .request__textareaField:focus-within > & {
    color: $accent-color;
  }
}
/* Оформление CHECKBOX */
.request__checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  max-width: 100%;
}
.request__checkboxIcon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  flex-shrink: 0;
  border: 2px solid #212121;
  border-radius: 2px;
  .request__checkboxInput:checked + & {
    border-color: $accent-color;
    background-image: url(../img/iconcheck.svg);
    background-color: $accent-color;
    background-size: contain;
    background-origin: border-box;
  }
}
.request__checkboxLabel {
  margin-right: 5px;
  font-size: 11px;
  line-height: 1.17;
  color: $text-color;

  @media screen and (max-width: 767px) {
    max-width: 100%;
  }

  @media screen and (min-width: $desktop) {
    font-size: 14px;
    line-height: 1.7;
  }
}
.request__checkboxLink {
  display: inline;
  color: $accent-color;
  font-size: 11px;
  line-height: 1.17;
  @media screen and (min-width: $desktop) {
    font-size: 14px;
    line-height: 1.7;
  }
}

.buttonClose {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-8px, 8px);

  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-style: none;
  background-color: $bg-color;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  outline: none;

  &:hover .iconclosemodal {
    fill: $accent-color;
  }

  &:hover,
  &:focus {
    border: 1px solid $accent-color;
  }
}

.send-form {
  max-width: 200px;
  height: 50px;
  padding: 10px 55px;
  margin-left: auto;
  margin-right: auto;
  color: $bg-color;
  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-style: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  outline-style: none;

  &:hover,
  &:focus {
    cursor: pointer;
  }
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-agreelabel {
  @media screen and (max-width: 767px) {
    display: inline-block;
    max-width: 100%;
  }
}
