.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  z-index: 9999;
  position: absolute;
  display: inline-flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: $bg-color;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* scale(1) */

  @media screen and (max-width: 767px) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 450px;
    width: 100%;
  }
  @media screen and (min-width: 1200px) {
  }
}
.form {
  margin: 0;

  &-field {
    margin-bottom: 28px;
    position: relative;
    box-sizing: border-box;
    height: 40px;

    @media screen and (max-width: 767px) {
      max-width: 100%;
    }
    @media screen and (min-width: 1200px) {
      max-width: 448px;
    }
  }
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-8px, 8px);

  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 25px;
  border-style: none;
  background-color: $bg-color;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  outline: none;

  &:focus {
    border: 1px solid $accent-color;
  }
}

.close-icon {
  width: 11px;
  height: 11px;
  fill: $headerlink-color;
  background-color: $bg-color;

  .close-button:focus & {
    fill: $accent-color;
  }
}

.disclaimer {
  display: block;
  width: 100%;
  text-align: center;
  font-style: normal;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: $headerlink-color;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 30px;
}

.field {
  width: 100%;
  margin: 0;
  padding: 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-appearance: none;
  outline-style: none;
  outline: 0px;
  box-sizing: border-box;

  &:focus-within {
    border-color: $accent-color;
  }

  &:focus-within + .form-label {
    transform: translate(-21px, -18px);
    color: $accent-color;
  }

  &:not(:placeholder-shown) + .form-label {
    transform: translate(-21px, -18px);
    color: $accent-color;
  }

  &:focus-within + .comment-label {
    transform: translateY(-18px);
    color: $accent-color;
  }
  &:not(:placeholder-shown) + .comment-label {
    transform: translateY(-18px);
    color: $accent-color;
  }

  &:focus-within ~ .icohead {
    fill: $accent-color;
  }
}

.form-label {
  position: absolute;
  display: inline-block;
  top: 0px;
  left: 42px;
  margin-bottom: 0;
  font-size: 14px;
  letter-spacing: 0.01em;
  /* transform-origin: left; */
  transform: translate(0px, 12px);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: $text-color;
}

.icohead {
  position: absolute;
  top: 50%;
  left: 14px;
  transform: translateY(-50%);
  fill: currentColor;

  &:focus-within ~ .icohead {
    fill: $accent-color;
  }
}

// comment

.text-field {
  margin-bottom: 20px;
  position: relative;
  box-sizing: border-box;
}

.comment {
  left: 0px;
  resize: none;

  &:focus-within {
    border-color: $accent-color;
  }
}

.comment-label {
  position: absolute;
  display: inline-block;
  top: 0px;
  left: 12px;
  margin-bottom: 0;
  font-size: 14px;
  letter-spacing: 0.01em;
  transform: translate(0px, 12px);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: $text-color;
}

// agree to terms

.form-agreement {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  text-align: center;
  & label {
    display: flex;
    align-items: center;
    cursor: pointer;
    flex-wrap: nowrap;
    width: 400px;
  }
}

.iagree {
  display: flex;
  flex-wrap: nowrap;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $text-color;
  font-size: 14px;
  font-style: normal;
}
.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-icon {
  margin-right: 7px;
  border: 2px solid $headerlink-color;
  border-radius: 2px;
  fill: transparent;
  cursor: pointer;
  /* background-size: contain; */
  /* transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.checkbox:checked + .checkbox-icon {
  background-origin: border-box;
  background-color: $accent-color;
  border-color: transparent;
  background-image: url(../img/iconcheck.svg);
  background-size: contain;

  border: none;
}

.terms-link {
  color: $accent-color;
  text-decoration: underline;
}

// submit button

.send-form {
  width: 200px;
  height: 50px;
  padding: 10px 55px;
  margin-left: auto;
  margin-right: auto;
  color: $bg-color;
  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-style: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  outline-style: none;

  &:hover,
  &:focus {
    cursor: pointer;
  }
}
