//  <section class="section">
//   <div class="container">
// <h2 class="central-title">Чем мы занимаемся?</h2>

.our-work {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.central-title {
  font-size: 36px;
  align-content: center;
  text-align: center;
  margin-bottom: 50px;

  @media screen {
  }
}

.list-work {
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  justify-content: center;
}

.work-item {
  position: relative;
  margin-right: 30px;
  width: calc((100% - 60px) / 3);
  display: block;

  &:last-child {
    margin-right: 0;
  }
}

.image-section {
  width: 370px;
  height: 294px;
}

.products-white {
  color: $bg-color;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  background: rgba(47, 48, 58, 0.8);
  border-radius: 0px 0px 4px 4px;
  height: 70px;
  line-height: 1.1;
  padding-bottom: 27px;
  padding-top: 27px;

  margin: 0px;
  position: absolute;
  bottom: 0%;
  left: 0%;
  display: block;
  text-align: center;
  white-space: nowrap;
  width: 370px;
}
