.client-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.client-item {
  border: 1px solid $social-color;
  border-radius: 4px;
  height: 90px;

  @media screen and (max-width: 767px) {
    flex-basis: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-basis: calc((100% - 3 * 30px) / 3);
    margin: 15px;
  }
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    flex-basis: calc((100% - 6 * 30px) / 6);
    margin: 15px;
  }

  &:hover,
  &:focus {
    border: 1px solid $accent-color;
    border-radius: 4px;
  }
}

.logo-first {
  // min-width: 170px;
  height: 90px;
  fill: $social-color;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover .company-logo {
    fill: $accent-color;
    cursor: pointer;
  }

  &:focus .company-logo {
    fill: $accent-color;
    cursor: pointer;
  }
}

.company-logo {
  fill: $social-color;
}
