.advantage-list {
  display: flex;
  text-decoration: none;
  list-style: none;
  justify-content: center;
}

.adv-item {
  width: calc((100% - 90px) / 4);
  display: block;
  box-sizing: border-box;
  margin-right: 30px;
  text-align: center;
  justify-content: center;

  &:last-child {
    margin-right: 0;
  }
}

.plus {
  max-width: 270px;
  height: 120px;
  background-color: $hero-li-color;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.advantage-icon:hover {
  fill: $accent-color;
  cursor: pointer;
}

.section-title {
  text-align: left;
  margin-bottom: 10px;
}

.text-section {
  text-align: left;
  color: $text-color;
  font-family: $basic-font;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;

  letter-spacing: 0.03em;
}
