.advantage-list {
  text-decoration: none;
  list-style: none;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: nowrap;
  }
}

.adv-item {
  display: block;
  box-sizing: border-box;

  text-align: center;
  justify-content: center;

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    max-width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    max-width: calc((100% - 3 * 30px) / 4);
    margin: 15px;
  }
}
.plus {
  //
  background-color: $hero-li-color;
  margin-bottom: 30px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 767px) {
    height: 120px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 270px;
    height: 120px;
  }
}

.advantage-icon {
  @media screen and (max-width: 767px) {
    // width: 25px;
    // height: 25px;
  }
}

.advantage-icon:hover {
  fill: $accent-color;
  cursor: pointer;
}

.section-title {
  text-align: left;

  @media screen and (max-width: 767px) {
    text-align: center;
    text-transform: uppercase;
  }
}

.text-section {
  text-align: left;
  color: $text-color;
  font-family: $basic-font;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;

  letter-spacing: 0.03em;
  margin-top: 10px;
  margin-bottom: 0px;

  @media screen and (max-width: 767px) {
  }
}
