.header-content {
  @media screen and (max-width: 767px) {
    position: relative;
    max-height: 60px;
  }
}

.navigation {
  align-items: center;

  @media screen and (max-width: 767px) {
    // min-height: 60px;
  }
}
