.list-buttons {
  list-style: none;

  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    margin-bottom: 40px;
    justify-content: left;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 50px;
  }
}

.filter-item {
  margin-right: 8px;
  margin-bottom: 15px;
}

.filter-button {
  font-family: $basic-font;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  background: $hero-li-color;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $bg-color;
    background-color: $accent-color;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 3px 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
  }
}

// section

.list-portfolio {
  text-decoration: none;
  list-style: none;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.portfolio-block {
  display: block;
  box-sizing: border-box;

  text-align: center;
  justify-content: center;

  overflow: hidden;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus .content-text {
    transform: translateY(0%);
  }

  &:hover .content-text {
    transform: translateY(0%);
  }

  &:hover {
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
      0px 1px 1px rgba(0, 0, 0, 0.12);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  @media screen and (max-width: 767px) {
    margin-left: auto;
    margin-right: auto;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-basis: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 3 * 30px) / 3);
    margin: 15px;
  }
}
.blue-text {
  margin: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    background-color: $accent-color;
    line-height: 1.55;
  }
}

.overlay {
  position: relative;
  overflow: hidden;
}

.image-portfolio {
  display: block;
  max-width: 100%;
  height: auto;
  // width: 370px;
  // height: 294px;
  box-sizing: border-box;
}

.content-text {
  position: absolute;
  display: flex;
  top: 0px;
  left: 0px;
  max-width: 100%;
  height: 100%;

  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  color: $bg-color;
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 24px 63px 24px;
  margin: 0px;

  font-size: 18px;
  line-height: 1.6;
}

.block {
  border: 1px solid $block-border-color;
  padding: 24px 20px;
}

.portfolio-heading {
  margin-bottom: 4px;
  font-size: 18px;
  letter-spacing: 0.06em;
  line-height: 2;
  font-style: normal;
  white-space: nowrap;
}

.port-text {
  font-size: 16px;
  line-height: 1.87;
  color: $text-color;
  letter-spacing: 0.03em;
}
