.section-hero {
  text-align: center;
}

.overlay-image {
  max-width: 100%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../img/Headerimg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  margin-bottom: 56px;
  padding-top: 200px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: $bg-color;

  @media screen and (max-width: 767px) {
    padding-top: 118px;
  }
}

.order-button {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 6px;
  width: 200px;
  height: 50px;
  padding: 10px 32px;
  color: $bg-color;
  background: $accent-color;
  font-size: 16px;
  line-height: 1.87;
  font-weight: bold;
  outline: none;
}
