.section-hero {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../img/Headerimg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .section-hero {
      background-image: url("headerimg@2x.png");
    }
  }

  @media screen and (max-width: 767px) {
    height: 400px;
  }

  @media screen and (min-width: $tablet) {
    height: 400px;
  }

  @media screen and (min-width: $desktop) {
    max-width: 1200px;
    height: 600px;
  }
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 1.61;
  letter-spacing: 0.06em;
  color: $bg-color;

  @media screen and (max-width: 767px) {
    font-size: 26px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 26px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 44px;
  }
}

.order-button {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 6px;
  min-width: 200px;
  height: 50px;
  padding: 10px 32px;
  color: $bg-color;
  background: $accent-color;
  font-size: 16px;
  line-height: 1.87;
  font-weight: bold;
  outline: none;
  @media screen and (max-width: 767px) {
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
  }

  @media screen and (min-width: 1199px) {
  }
}
