// colors

$bg-color: #ffffff;
$text-color: #757575;
$headerlink-color: #212121;
$accent-color: #2196f3;
$footerbg-color: #2f303a;
$hero-li-color: #f5f4fa;
$social-color: #afb1b8;
$block-border-color: #eeeeee;
$section-team: #f5f4fa;
$header-border: #ececec;

// Fonts
$basic-font: Roboto, sans-serif;
$logo-font: Raleway, sans-serif;
